body { 
  height: 100%;
  margin: 0;
  background: linear-gradient(#00ffff, #008080); /* Will be replaced with company group picture */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Background won't scroll with page */
}

header { 
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
}
